/* Navbar Styles */
/* General Navbar Styles */
.navbar {
  padding: 0.8rem 1rem;
  background-color: #343a40 !important; /* Custom background color */
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.nav-link {
  color: #fff;
  margin-right: 1rem;
}

.nav-link:hover {
  color: #ddd;
}

.nav-item .dropdown-menu {
  background-color: #343a40;
}

.nav-item .dropdown-item {
  color: #fff;
}

.nav-item .dropdown-item:hover {
  background-color: #495057;
}

/* Offcanvas Styles */
.offcanvas-end {
  width: 300px;
}

.offcanvas-header {
  border-bottom: 1px solid #495057;
}

.offcanvas-title {
  font-size: 1.5rem;
  color: #fff;
}

.btn-close {
  color: #fff;
}

.offcanvas-body {
  padding: 1rem;
}

.offcanvas-body .nav-link {
  color: #fff;
  padding: 0.5rem 1rem;
}

.offcanvas-body .nav-link:hover {
  background-color: #495057;
  border-radius: 0.25rem;
}

.offcanvas-body .dropdown-menu {
  background-color: #343a40;
}

.offcanvas-body .dropdown-item {
  color: #fff;
}

.offcanvas-body .dropdown-item:hover {
  background-color: #495057;
}
.container-fluid img {
  height: 50px;
}
/* Mobile Styles */
@media (max-width: 991.98px) {
  .navbar-toggler {
    border: none;
  }

  .offcanvas-header {
    padding: 1rem;
  }

  .offcanvas-body {
    padding: 1rem;
  }

  .offcanvas-body .nav-link {
    margin-bottom: 0.5rem;
  }
}

/* Carousel Styles */
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
}

.carousel-caption h5 {
  margin-bottom: 10px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 15px;
  color: #ffffff;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-indicators {
  bottom: 10px;
}

.carousel-indicators button {
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 5px;
}

.carousel-indicators .active {
  background-color: #000000;
}
.carousel-item img {
  margin-top: 50px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* Marquee Styles */
.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

marquee {
  display: block;
  padding: 15px;
  color: #ffffff;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(191, 191, 191, 1) 0%, rgba(25, 24, 22, 1) 100%);
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
